<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.piao888.jingxian.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="cn.piao888.jingxian.domain.SysRole" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="available" property="available" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.piao888.jingxian.domain.SysRole" >
    insert into sys_role (id, name, available
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{available,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.piao888.jingxian.domain.SysRole" >
    update sys_role
    set name = #{name,jdbcType=VARCHAR},
      available = #{available,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, name, available
    from sys_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, available
    from sys_role
  </select>
  <select id="selectRoleBelongByUserId" resultMap="BaseResultMap">
    select r.id, r.name, r.available
    from sys_role r left join sys_user_role ur on r.id=ur.sys_role_id
                    left join sys_user u on u.id=ur.sys_user_id
    where u.id=#{userId}
  </select>
</mapper>
