<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.piao888.jingxian.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="cn.piao888.jingxian.domain.SysUserRole">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="sys_user_id" jdbcType="VARCHAR" property="sys_user_id" />
    <result column="sys_role_id" jdbcType="VARCHAR" property="sys_role_id" />
  </resultMap>
  <insert id="insert" keyProperty="id" parameterType="cn.piao888.jingxian.domain.SysUserRole" useGeneratedKeys="true">
    insert into sys_user_role (sys_user_id, sys_role_id)
    values (#{sys_user_id,jdbcType=VARCHAR}, #{sys_role_id,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sys_user_id, sys_role_id
    from sys_user_role
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from sys_user_role
    where user_id = #{user_id,jdbcType=BIGINT}
      and role_id = #{role_id,jdbcType=BIGINT}
  </delete>
</mapper>
